* {
  margin: 0;
  /* border: solid grey 3px; */
}

.wrapper-comment {
  display: flex;
  justify-content: center;
}

.wrapper-daftarComment {
  margin-top: 50px;
  
  border: solid red 2px;
}

.daftarComment{
  /* margin-left: 0px; */
  margin: 0 20px 0 20px;
  /* border: solid red 2px; */
  display: grid;
}
.perComment {
  /* margin-left: 10px; */
}

.bagian_nama {
  display: flex;
}

.nama {
  color: black;
  padding-right: 5px;
  border-right: solid red 1px;
}

/* .lingkaran {
  : solid red 3px;
  border-radius: 100px;
} */

.tanggal {
  color: rgb(0, 0, 0);
  font-size: small;
  margin-left: 5px;
}

.isiComment {
  margin-top: 5px;
  margin-left: 5px;
}

section {
  width: 80%;
}

#respond {
  background: springgreen;
}

.hr {
  margin: 0 10px 0 10px;
  /* width: 50%; */
}

form#commentForm {
  display: grid;
}

#respond {
    margin-top: 40px;
    display: grid;
    text-justify: center;
    text-align: left;
  }

  label {
    left: 0;
  }
  
  #respond input[type='text'],
  /* #respond input[type='email'], */
  #respond textarea {
    margin-bottom: 10px;
    display: block;
    width: 97%;
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    /* position: fixed; */
    justify-self: center;
  
    /* line-height: 1.4em; */
  }
  #respond input[name="kirim"] {
    width: fit-content;
    justify-self: end;
    padding: 5px;
    font-size: large;
    margin: 0 15px 15px 0;
  }